*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    height: 500px;
    width: 1000px;
    contain: content;
    display: none;
    text-align: center;
    background-color: rgb(119, 136, 153, 0.75);
    position: relative;

}

.item.active {
    display: block;
}

.item > img {
    width: 100%;
    position: absolute;
    bottom: -400px;
    left: 0;
}

.arrow {
    position: relative;
    cursor: pointer;
    z-index: 800;
}

.click {
    font-size: 30px;
    position: absolute;
    background-color: transparent;
    color:  rgb(119, 136, 153, 0.5);
}

.text {
    color: white;
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 80%;
    text-align: end;
    z-index: 700;

}